/* You can add global styles to this file, and also import other style files */
html,
body{
    padding-top: 30px;
    font-family: 'Segoe UI'
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    display: block;
    list-style-type: disc;
}